<form action="/tests/<%= @test.id %>/questions/<%= params[:id] %>" method="POST">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Удалить">
</form>