<p class="nav title">
  <span><b><%= link_to 'Test Guru', root_path %></b></span>
</p>

<% if user_signed_in? %>
  <p class="nav user">
    Welcome, <b><%= current_user.email %></b> Guru
    <br>
    <%= link_to 'Выйти', destroy_user_session_path, method: :delete %>
  </p>
<% end %>