<p>
  <%= current_year %> heckfyxe
</p>
<p>
  <a href='<%= github_url('heckfyxe', 'test-guru') %>' target="_blank" rel="nofollow noopener noreferrer">Test Guru</a>
  <%= t('tests_site') %>
</p>
<p>
  <%= t(:education_project) %> <a href='http://thinknetica.com/' target="_blank" rel="nofollow noopener noreferrer">Thinknetica</a>
</p>