<tr>
  <td><%= answer.text %></td>
  <td><%= answer.correct ? "+" : "-" %></td>
  <td><%= link_to "Изменить", edit_admin_answer_path(answer) %></td>
  <td><%= link_to "Удалить", admin_answer_path(answer), method: :delete, data: { confirm: "Вы уверены?" } %></td>
</tr>
