<table class="table">
  <tr>
    <th class="sort-by-title pointer">
      Тест
      <%= octicon 'arrow-up', class: 'text-success hide' %>
      <%= octicon 'arrow-down', class: 'text-success hide' %></th>
    <th>Количество вопросов</th>
    <th>Действия</th>
  </tr>
  <%= render @tests %>
</table>