<table>
  <tr>
    <th>Вопрос</th>
    <th colspan="2">Действия</th>
  </tr>
  <%= render @questions %>
</table>
<p>
  <%= link_to 'Создать', new_test_question_path(@test) %>
</p>
<%= link_to 'К списку тестов', tests_path %>
