<div>
  <p>
    <%= year %> heckfyxe
  </p>
  <p>
    <a href='<%= github_url('heckfyxe', 'test-guru') %>' target="_blank" rel="nofollow noopener noreferrer">Test Guru</a>
    Сайт онлайн тестов на различные темы
  </p>
  <p>
    Учебный проект в онлайн-школе <a href='http://thinknetica.com/' target="_blank" rel="nofollow noopener noreferrer">Thinknetica</a>
  </p>
</div>